body {
    background-color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

span {
    margin: 8px;
}

p {
    color: rgb(170, 162, 162);
    font-size: 1.5em;
}

span.gray {
    color: rgb(170, 162, 162);
}

img {
    width: 100%;
    height: 300px;
}

button {
    position: relative;
    margin-top: 18px;
    width: 552px;
    height: 45px;
    background-color: rgb(65, 3, 3);
    color: rgb(170, 162, 162);
    border-radius: 0.25rem;
    font-size: 1.125rem;
    border: none;
}

button:hover {
    background-color: rgb(71, 4, 4);
    box-shadow: 0px 0px 20px hsl(0, 79%, 36%);
}

input {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 35px;
    border-radius: 0.25rem;
    font-size: 1rem;
    border: 0;
    background-color: white;
}

#change {
    width: 550px;
    text-align: center;
}

#change div {
    display : flex;
    width: 100%;
    height: 54px;
    border-radius: 0.25rem;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#change div:nth-child(1){
    padding: 1em;
    height: 86px;
}

#change p {
    margin: 4.8px;
    font-size: 1.25rem;
}

#button2 {
    display: none;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.backgroundWhite {
    background-color: white;
    text-align: center;
}

.backgroundWhite span, strong {
    font-size: 2.25rem;
}

.loader {
    position: absolute;
    width: 12px;
    height: 12px;
    border: 4px solid rgb(65, 3, 3);
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 0.5s linear infinite;
}

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}

[disabled] {
    cursor: not-allowed;
    opacity: 0.7;
}

@media (max-width: 600px) {
    #change {
        width: 96%;
    }

    button {
        width: 96%;
    }
}